<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../views/partials/head') %>
<body class="form-sended">
  <%- include('../views/partials/header'), {user: user} %>

  <section class="container">
    <p>
      <%= result %> 
    </p>
  </section>  

  <%- include('../views/partials/footer') %>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="./assets/js/bundle.js"></script>
</body>
</html>