<!DOCTYPE html>
<html lang="pt-BR">
<%- include('../views/partials/head') %>
<body class="index">
  <%- include('../views/partials/header'), {user: user} %>
  <section class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa non earum maxime, eos voluptates quidem.
    </p>
    <p>
      Fugit amet obcaecati omnis qui laborum animi, placeat nisi hic excepturi at enim dolore blanditiis saepe nemo
    </p>
    <p>
     Blanditiis architecto necessitatibus eius eaque repellendus ab aperiam quam, animi fugiat excepturi, explicabo odio ducimus ullam at ipsa doloremque, tempore voluptates optio!
    </p>
    <p>
      Sit amet consectetur adipisicing elit.
    </p>
  </section>
  <button class="btn" href="/registrar">Registrar</button>
  <%- include('../views/partials/footer') %>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/bundle.js"></script>
</body>
</html>

