<section class="header">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contato">Contato</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/produtos">Produtos</a></li>
      <li><a href="/redes">Nossas redes</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/comentarios">Comentários</a></li>
      <li><a href="/registrar">Registrar</a></li>
    </ul>
  </nav>
</section>
