<% if (logged) { %> 
  <h1> Projeto Agenda de Contatos 1.0 </h1>
  <section class="container-contactBook">
    <div class="div-search">
      <p>AGENDA</p>
      <div class="search-inputs">
        <div class="search-option">
          <label for="option-search-name">Busca por nome:</label><input type="radio" name="optionsearch" id="option-search-name" checked>
          <label for="option-search-cpf"> Busca por CPF:</label><input type="radio" name="optionsearch" id="option-search-cpf" >
        </div>
        <input type="search" name="search" id="text-search" placeholder="Digite aqui">
      </div>
      <div class="btns-div-search">
        <button id="btn-search" data-title="Encontrar um contato">Buscar</button>
        <button id="btn-insert" data-title="Inserir um contato novo">Inserir contato</button>
        <button id="btn-clear" data-title="Limpar campos">Limpar</button>
        <button id="btn-load" data-title="Recarregar lista">Carregar lista</button>
      </div>
    </div>
    <div class="form-insert-new-person">
      <p>Registrar novo contato</p>
      <form action="" method="get" class="form-new-contact">
        <input type="hidden" value="<%=csrfToken%>" name="_csrf" class="_csrf">
        <input type="text" name="name" id="contact-name" placeholder="Nome" required pattern="[A-Za-zÀ-ú0-9 ]*">
        <input type="text" name="surname" id="contact-surname" placeholder="Sobrenome" required pattern="[A-Za-zÀ-ú0-9 ]*">
        <input type="email" name="email" id="contact-email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <input type="tel" name="phone" id="contact-phone" placeholder="Telefone xxxxxxxxxxx" required pattern="[0-9]{11}">
        <input type="date" name="birthday" id="contact-birthday" placeholder="Data de nascimento" required>
        <div class="gender-option">
          <label for="gender-male">Gênero masculino</label><input type="radio" name="gender" id="contact-gender-male" value="masculino" checked>
          <label for="gender-female">Gênero feminino</label><input type="radio" name="gender" id="contact-gender-female" value="feminino">
        </div>
        <input type="text" name="cpf" id="contact-cpf" placeholder="CPF" pattern="[0-9]{11}" required inputmode="number" minlength="11" maxlength="11" autocomplete="off">
        <div class="btns-insert">
          <button id="btn-send" data-title="Submeter formulário">Enviar</button>
          <button id="btn-close" data-title="Fechar painel">Fechar</button>
        </div>
      </div>
    </form>
    <div id="table-contacts">
      <%- include('tableContacts', {contacts: contacts}) %>
    </div>
  </section>
  <dialog class="update-contact">
    <p>Alterar informações</p>
    <section id="container-dialog">
      <form action="" method="get" class="form-update-contact">
        Nome: <input type="text" id="new-name" placeholder="Nome" pattern="[A-Za-zÀ-ú0-9 ]*" required>
        Sobrenome: <input type="text" id="new-surname" placeholder="Sobrenome" required pattern="[A-Za-zÀ-ú0-9 ]*">
        E-mail: <input type="email" id="new-email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        Telefone: <input type="tel" id="new-phone" placeholder="Telefone" required pattern="[0-9]{11}">
        Data de nascimento: <input type="date" id="new-birthday" placeholder="Data de nascimento" required>
        <div class="gender-option">
          <label for="gender-male">Gênero masculino</label><input type="radio" name="gender" id="new-gender-male" value="masculino" checked>
          <label for="gender-female">Gênero feminino</label><input type="radio" name="gender" id="new-gender-female" value="feminino">
        </div>
        CPF: <input type="text" id="new-cpf" placeholder="CPF" pattern="[0-9]{11}" required inputmode="number" minlength="11" maxlength="11" autocomplete="off">
        <div class="btns-dialog">
          <button id="dialog-btn-send" data-title="Alterar um contato existente">Alterar</button>
          <button id="dialog-btn-close" data-title="Fechar painel">Fechar</button>
        </div>
      </form>
    </section>
  </dialog>
<% } else {%> 
  <p class="advice-note">Você precisa estar logado para acessar a agenda</p>
<% } %> 