/*
css frontend
*/

.header {
  z-index: 10;
}

.header ul {
  display: flex; 
  justify-content: flex-end;
 }

 .header ul .li-user {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: var(--font-color-yellow);
  margin-right: 35px;
 }

.header a {
  text-decoration: none; 
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 10px;
  line-height: 1.5em;
 }

.header a:hover {
  background-color: #312c4f;
}


