/*
css frontend
*/

.contact {
  color: white;
  background-color: rgb(29, 27, 27);
}

.contact .container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  margin-top: 8%;
  border: 2px solid #FFF;
  background-color: rgb(0, 0, 0);
  padding: 2%;
  border-radius: 12px;
}

.contact .title {
  text-align: center;
  font-size: 24px;
}

.contact .form {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.contact input {
  height: 2em;
  text-indent: 10px;
}

.contact button {
  margin-top: 20px;
  height: 2.3em;
  cursor: pointer;
}

.contact ul {
  list-style: none;
}

.contact ul li {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.contact ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.contact ul li a:hover{
  background-color: rgb(0, 0, 0);;
}