@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Orbitron&family=Raleway:wght@300;500&display=swap');

body{
  background-color: #005663;
  font-family: 'Kanit', sans-serif;
  background-image: url(/src/assets/images/low-poly-grid-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 25vw;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  gap: 20px;
  padding: 2%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.title {
  color: black;
  font-size: 2.5em;
}

.subtitle {
  color: #ebf4f5;
  font-size: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 4%;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

input[type="text"] {
  height: 2em;
  width: 80px;
}

input[type="checkbox"] {
  height: 2em;
}

button {
  height: 2em;
  margin-top: 20px;
  cursor: pointer;
  background-color: #005663;
  border: none;
  color: white;
  font-size: 1.3em;
}

button:hover {
  background-color: #06434c;
  
}

button:active {
  background-color: #03282e;
}

.result {
  height: fit-content;
  background-color: #f2f2f2;
  text-align: center;
  word-break: break-all;
  padding: 3%;
}
