.index .container .login-painel {
  width: 30vw;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.index .container .login-painel h1 {
  text-align: left;
  height: 5%;
  width: 100%;
  font-size: 2.5vh;
  padding: 3%;
  margin-bottom: 25px;
}

.index .container .login-painel .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.index .container .login-painel input {
  width: 65%;
  border: none;
  border-bottom: 1px solid black;
  height: 3vh;
  text-indent: 5px;
  color: #0a3363;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.index .container .login-painel .form input:hover {
  border: 1px solid #e4e4e4;
}

.index .container .login-painel .form input:focus {
  border: 1px solid #c8c8c8;
  outline: #e9e9e9;
  background-color: rgb(247, 247, 247);
}

.index .container .login-painel button {
  width: 30%;
  background-color: black;
  height: 3.5vh;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}