.container-contactBook {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.advice-note {
  margin-top: 15%;
  text-align: center;
  font-size: 2em;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.container-contactBook .search-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2%;
}

.container-contactBook #text-search {
  align-self: center;
}

.container-contactBook #table-contacts {
  display: table;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.container-contactBook .row {
  display: table-row;
}

.container-contactBook .cell {
  display: table-cell;
}

.container-contactBook .row,
.container-contactBook .cell {
  padding: 10px 20px;
}

.container-contactBook .header-table {
  background-color: #000000;
  color: rgb(231, 239, 255);
}

.container-contactBook .item-header {
  border: 1px solid white;
  text-align: center;
}

.container-contactBook .row-body:nth-child(2n + 1) {
  background-color: rgba(236, 236, 236, 0.336);
}

.container-contactBook .row-body:nth-child(2n) {
  background-color: rgba(201, 201, 201, 0.336);
}

.container-contactBook .form-insert-new-person,
.container-contactBook .div-search,
.container-contactBook .div-close
{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-self: center;
  justify-content: flex-start;
  width: 60%;
  height: fit-content;
  padding: 1%;
}

.container-contactBook .form-insert-new-person p,
.container-contactBook .div-search p,
.container-contactBook .div-close p
{
  font-size: 1.5em;
  margin-bottom: 15px;
}

.container-contactBook .form-insert-new-person input,
.container-contactBook .div-search div input,
.container-contactBook .div-close div input,
#container-dialog input
{
  width: 65%;
  border: none;
  border-bottom: 1px solid black;
  height: 3vh;
  text-indent: 5px;
  color: #0a3363;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 7px;
  align-self: center;
}

.container-contactBook  input:hover {
  border: 1px solid #e4e4e4;
}

.container-contactBook input:focus {
  border: 1px solid #c8c8c8;
  outline: #e9e9e9;
  background-color: rgb(247, 247, 247);
}

.container-contactBook button,
.container-contactBook .delete-contact,
.container-contactBook .update-contact,
.container-contactBook .copy-contact,
#container-dialog button
{
  background-color: #000000;
  color: rgb(231, 239, 255);
  width: fit-content;
  padding: 0px 20px;
  cursor: pointer;
  height: 4.5vh;
  margin-left: 0;
  border-radius: 7px;
  line-height: 4vh;
  font-size: .9em;
  font-weight: 800;
  transition: all 0.5s ease;
}

.container-contactBook button:hover,
.container-contactBook .delete-contact:hover,
.container-contactBook .update-contact:hover,
.container-contactBook .copy-contact:hover,
#container-dialog button:hover
{
  background-color: #020c22;
}

.container-contactBook .form-insert-new-person {
  display: none;
  flex-direction: column;
  gap: 7px;
  width: 60%;
  padding: 1%;
  margin-top: 0;
  align-items: stretch;
  text-align: center;
  -webkit-animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.container-contactBook .search-option, 
.container-contactBook #gender-option,
.container-contactBook #new-gender-option
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.container-contactBook .search-option input[type="radio"], 
.container-contactBook #gender-option input[type="radio"],
#container-dialog input[type="radio"]
{
  width: 1em;
  height: 1em;
}

.container-contactBook .btns-div-search {
  display: flex;
  margin: 3% 0 3% 0;
  justify-content: space-evenly;
}

.container-contactBook .div-close {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 0;
}

.container-contactBook .form-insert-new-person p,
.container-contactBook .div-search p
{
  font-size: 1.5em;
  margin-bottom: 3px;
  color: white;
  background-color: black;
  padding: 7px;
  text-align: center;
}

.container-contactBook .form-insert-new-person button {
  margin-top: 10px;
}


.container-contactBook #table-contacts .li-btns {
  display: flex;
  gap: 3%;
}

#container-dialog {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  padding: 5%;
  gap: 7px;
}

.update-contact p {
  text-align: center;
  font-size: 1.8em;
  padding: 5px;
}

#container-dialog .btns-dialog {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
}
