/*
css frontend
*/
/* 
*/

.header {
  width: 100vw;
  position: sticky;
}

.header ul {
  display: flex; 
  justify-content: flex-end;
  background-color: black;
  align-items: baseline;
  padding: 1vh 0 0.5vh 0;
 }

.header a {
  letter-spacing: 2px;
  padding: 4vh 10px 0 10px;
  margin-right: 3vw;
  transition: all 0.4s ease;
  border-bottom: 1px solid #FFF;
 }

 .header a:hover {
  background-color: #0c214e;
 }

.header .logged-user {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0 10px 0 10px;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header img {
  height: 4vh;
  width: auto;
  filter: invert(1);
  pointer-events: none;
}
