.index .container .register-painel {
  width: 30vw;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.index .container .register-painel h1 {
  text-align: left;
  width: 100%;
  font-size: 4.5vh;
  margin: 5% 0 7% 0;
}

.index .container .register-painel .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.index .container .register-painel input {
  width: 65%;
  border: none;
  border-bottom: 1px solid black;
  height: 3vh;
  text-indent: 5px;
  color: #0a3363;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.index .container .register-painel .form input:hover {
  border: 1px solid #e4e4e4;
}

.index .container .register-painel .form input:focus {
  border: 1px solid #c8c8c8;
  outline: #e9e9e9;
  background-color: rgb(247, 247, 247);
}

.index .container .register-painel button 

{
  background-color: #000000;
  color: rgb(231, 239, 255);
  width: fit-content;
  padding: 0px 20px;
  cursor: pointer;
  height: 4.5vh;
  margin-left: 0;
  border-radius: 7px;
  line-height: 4vh;
  font-size: .9em;
  font-weight: 800;
  transition: all 0.5s ease;
}
.index .container .register-painel button:hover
{
  background-color: #020c22;
  padding: 0px 40px;
}


.index .container .register-painel .gender-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.index .container .register-painel .gender-option input {
  width: 1em;
  height: 1em;
}

.index .container .user-registered {
  font-size: 3.5vh;
  margin: 0 auto;
  text-align: center;
}