<dialog class="schedule-contact">
  <p>Registrar serviço</p>
  <section id="container-dialog-schedule">
    <form action="" method="get" class="form-schedule-contact">
      Nome: <input type="text" id="schedule-name" placeholder="Nome" pattern="[A-Za-zÀ-ú0-9 ]*" required>
      Sobrenome: <input type="text" id="schedule-surname" placeholder="Sobrenome" required pattern="[A-Za-zÀ-ú0-9 ]*">
      Data: <input type="date" id="date" placeholder="Data" required>
      Hora: <input type="time" name="time" id="time">
      Tipo de serviço: 
      <select id="service-options">
        <option value="register">Registro</option>
        <option value="alteration">Alteração</option>
        <option value="anulation">Anulação</option>
        <option value="maintenance">Manutenção</option>
        <option value="survey">Vistoria</option>
      </select>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Descrição"></textarea>
      <div class="btns-dialog">
        <button id="dialog-btn-send-schedule" data-title="Agendar um serviço">Agendar</button>
        <button id="dialog-btn-close-schedule" data-title="Fechar painel">Fechar</button>
      </div>
    </form>
  </section>
</dialog>